extends layouts/main

block content
  h1=plugin.name
  h3.
    #{plugin.latestVersion.number} is the latest of
    #{plugin.versions.length} releases

  h4 How to install:
  p.
    From your terminal, inside the directory where you have Kibana installed,
    type:
  code.
    bin/kibana plugin --install #{plugin.name} --url=#{plugin.latestVersion.archive}

  h4 How to uninstall:
  p.
    From your terminal, inside the directory where you have Kibana installed,
    type:
  code.
    bin/kibana plugin --remove #{plugin.name}
